<div class="fluid-container banner-wrapper">
  <div class="banner-wrapper-inner" ng-style="bannerInner">
    <div class="container para-over">
      <p class="para-over-banner text-center text-capitalize">Let’s make this world Better for US <br> Start Helping <br> Be the Change you Want to be</p>
    </div>
  </div>
  <div class="banner-wrapper-button">
    <a class="btn btn-homepage col-md-6 col-sm-6 btn-login" href="/login">Login<br><span>(Go to Dashboard)</span> </a>
    <a class="btn btn-homepage col-md-6 col-sm-6 btn-signup" href="/register">Signup<br><span>(Join the community)</span> </a>
  </div>
</div>
